body{
    background-color: hsl(185, 75%, 39%);
    background-image: url( "bg-pattern-top.svg"), url("bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 700px, 930px;
    background-position: bottom 350px left 25px, top 450px right -200px;
}
.card{
    height: 375px;
    width:350px;
    background-color: white;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    border-radius: 20px;
}
img#pattern{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
h4, p{
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}
h4{
    margin-top: 10px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}
p{
    line-height: 2px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}
#num{
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}
.profile{
    position:relative;
    bottom: 50px;
}
#pic{
    position:relative;
    left: 125px;
    border-radius: 60px;
    border: 5px solid white;
}
table, th{
    padding: 5px 25px;
    text-align: center;
}
th{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    color: hsl(229, 23%, 23%);
}
.last{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: x-small;
    color: hsl(0, 0%, 59%);
}
